In [6]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
house_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/kc_house_data/kc_house_data.csv')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [7]:
eval_data =  pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/kc_house_data/kc_house_data.csv')

In [8]:
eval_data

          price  bedrooms  bathrooms  ...     long  sqft_living15  sqft_lot15
0      221900.0         3       1.00  ... -122.257           1340        5650
1      538000.0         3       2.25  ... -122.319           1690        7639
2      180000.0         2       1.00  ... -122.233           2720        8062
3      604000.0         4       3.00  ... -122.393           1360        5000
4      510000.0         3       2.00  ... -122.045           1800        7503
...         ...       ...        ...  ...      ...            ...         ...
16608  245000.0         2       1.00  ... -122.295           1220        1740
16609  275000.0         4       2.00  ... -122.196           1450        8768
16610  270000.0         3       2.00  ... -122.368           1570        7227
16611  767250.0         4       3.00  ... -122.303           2170        4080
16612  229000.0         3       2.00  ... -122.338           1190        9900

[16613 rows x 19 columns]

In [4]:
eval_data.head()

   bedrooms  bathrooms  sqft_living  ...     long  sqft_living15  sqft_lot15
0         5       3.25         5210  ... -122.397           2590       10250
1         5       2.00         2800  ... -122.163           1760       18282
2         4       2.25         2060  ... -122.046           2160       45657
3         5       2.00         2360  ... -122.046           1860       19998
4         4       2.50         2370  ... -122.155           2370        7378

[5 rows x 18 columns]

In [5]:
eval_data.tail()

      bedrooms  bathrooms  sqft_living  ...     long  sqft_living15  sqft_lot15
4994         3       2.50         1530  ... -122.346           1530        1509
4995         4       2.50         2310  ... -122.362           1830        7200
4996         2       0.75         1020  ... -122.299           1020        2007
4997         3       2.50         1600  ... -122.069           1410        1287
4998         2       0.75         1020  ... -122.299           1020        1357

[5 rows x 18 columns]

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [10]:
eval_data.columns

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [12]:
#input and output values
x=eval_data.drop('price',axis=1)
y=eval_data['price']

In [29]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=70)

In [30]:
x_train.shape

(11629, 18)

In [31]:
model=LinearRegression()

In [32]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [33]:
y_pred=model.predict(x_test)
y_pred

array([447818.12167484, 264684.06866015, 555611.59520746, ...,
       634599.81066082, 558628.87888863, 594759.84879703])

In [34]:
y_test

845       352000.0
7419      393000.0
7683      600000.0
16351     367000.0
7911     1824100.0
           ...
5563      266000.0
4009      559950.0
15057     499000.0
10027     578500.0
10172     442000.0
Name: price, Length: 4984, dtype: float64

In [35]:
from sklearn import metrics
metrics.mean_squared_error(y_test,y_pred)

42023945219.526855

In [36]:
metrics.r2_score(y_test,y_pred)

0.7043035927553887